<!-- start custom head snippets -->

<!-- insert favicons. use https://realfavicongenerator.net/ -->

<link rel="apple-touch-icon" type="image/png" sizes="180x180" href="{{/files/images/apple-touch-icon.png | absolute_url }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{/files/images/favicon-32x32.png | absolute_url }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{/files/images/favicon-16x16.png | absolute_url }}">
<link rel="manifest" href="{{/files/images/site.webmanifest | absolute_url }}">
<link rel="mask-icon" href="{{/files/images/safari-pinned-tab.svg | absolute_url }}" color="#5bbad5">
<link rel="shortcut icon" type="image/x-icon" href="{{/files/images/favicon.ico | absolute_url }}">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="msapplication-config" content="{{/files/images/browserconfig.xml | absolute_url }}">
<meta name="theme-color" content="#140101">

<!-- end custom head snippets -->
